In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import re
import string

In [2]:
news = pd.read_csv("abc_news_clean.csv")

In [3]:
news.isna().sum()

publish_date       0
headline_text     12
financial_year     0
dtype: int64

In [4]:
news['publish_date'] = pd.to_datetime(news['publish_date'])

In [5]:
news.dtypes

publish_date      datetime64[ns]
headline_text             object
financial_year            object
dtype: object

In [6]:
news

,publish_date,headline_text,financial_year
0,2003-02-19,aba decid against commun broadcast licence,2002-07-01
1,2003-02-19,act fire wit must be aware of defam,2002-07-01
2,2003-02-19,a g call for infrastructure protect summit,2002-07-01
3,2003-02-19,air nz staff in aust strike for pay rise,2002-07-01
4,2003-02-19,air nz strike to affect australian travel,2002-07-01
...,...,...,...
1186013,2019-12-31,vision of flame approach corryong in victoria,2019-07-01
1186014,2019-12-31,wa police and govern backflip on drug amnesti bin,2019-07-01
1186015,2019-12-31,we have fear for their safeti victorian premier,2019-07-01
1186016,2019-12-31,when do the start,2019-07-01
1186017,2019-12-31,yarraville shoot woman dead man critic injur,2019-07-01

In [7]:
news_copy = news.copy()

In [8]:
#broke computer, do only with subsetting
#cv = CountVectorizer(stop_words='english')
#data_cv = cv.fit_transform(news_copy.headline_text)
#news_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
#news_dtm.index = news_copy.index

## Make subsets of df to get top 15 words per financial year

In [9]:
#overall decrease in number of news headings
#may need rate of immigration articles as % of total for the year?
news_copy['financial_year'].value_counts()

2012-07-01    93574
2013-07-01    86497
2011-07-01    81546
2007-07-01    79743
2008-07-01    78062
2010-07-01    76406
2014-07-01    76302
2009-07-01    75475
2005-07-01    73499
2015-07-01    73027
2004-07-01    72856
2003-07-01    72753
2006-07-01    67690
2016-07-01    53234
2017-07-01    44629
2018-07-01    36344
2002-07-01    27436
2019-07-01    16945
Name: financial_year, dtype: int64

In [10]:
news_copy['financial_year'].unique()

array(['2002-07-01', '2003-07-01', '2004-07-01', '2005-07-01',
       '2006-07-01', '2007-07-01', '2008-07-01', '2009-07-01',
       '2010-07-01', '2011-07-01', '2012-07-01', '2013-07-01',
       '2014-07-01', '2015-07-01', '2016-07-01', '2017-07-01',
       '2018-07-01', '2019-07-01'], dtype=object)

In [11]:
subset2018_19 = news_copy.loc[(news_copy['financial_year'] == '2018-19')]

In [12]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2018_19.headline_text)
news_dtm_subset2018_19 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2018_19.index = subset2018_19.index

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [ ]:
news_dtm_subset2018_19

In [ ]:
news_dtm_subset2018_19.sum().sort_values(ascending=False).head(15)

news_dtm_subset2018_19.sum().sort_values(ascending=False).head(15)
police        994
says          906
australia     882
new           878
trump         855
australian    853
man           849
election      810
sydney        605
nsw           522
court         499
federal       490
donald        467
death         463
government    451

In [ ]:
subset2003_04 = news_copy.loc[(news_copy['financial_year'] == '2003-04')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2003_04.headline_text)
news_dtm_subset2003_04 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2003_04.index = subset2003_04.index
news_dtm_subset2003_04

In [ ]:
#news_dtm_subset2003_04.sum().sort_values(ascending=False).head(15)

news_dtm_subset2003_04.sum().sort_values(ascending=False).head(15)
police     2765
new        2142
govt       2111
man        1728
council    1498
plan       1359
iraq       1269
court      1237
says       1165
nsw         913
killed      873
report      843
wa          842
claims      818
qld         817

In [ ]:
subset2004_05 = news_copy.loc[(news_copy['financial_year'] == '2004-05')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2004_05.headline_text)
news_dtm_subset2004_05 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2004_05.index = subset2004_05.index
news_dtm_subset2004_05

In [ ]:
#news_dtm_subset2004_05.sum().sort_values(ascending=False).head(15)

#news_dtm_subset2004_05.sum().sort_values(ascending=False).head(15)
police     2875
govt       2161
new        1991
council    1602
man        1565
plan       1389
says       1176
urged      1024
court      1021
iraq        948
water       822
claims      804
health      800
boost       763
tsunami     762

In [ ]:
subset2005_06 = news_copy.loc[(news_copy['financial_year'] == '2005-06')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2005_06.headline_text)
news_dtm_subset2005_06 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2005_06.index = subset2005_06.index

In [ ]:
#news_dtm_subset2005_06.sum().sort_values(ascending=False).head(15)

news_dtm_subset2005_06.sum().sort_values(ascending=False).head(15)

police     2778
govt       2484
new        2038
man        1589
council    1528
says       1287
plan       1261
urged      1085
court      1070
water       920
health      913
crash       901
death       821
group       724
pm          717

In [ ]:
subset2006_07 = news_copy.loc[(news_copy['financial_year'] == '2006-07')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2006_07.headline_text)
news_dtm_subset2006_07 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2006_07.index = subset2006_07.index

In [ ]:
#news_dtm_subset2006_07.sum().sort_values(ascending=False).head(15)

news_dtm_subset2006_07.sum().sort_values(ascending=False).head(15)

police     2759
govt       2501
water      1755
new        1745
man        1641
says       1554
council    1414
plan       1145
court       981
pm          934
crash       910
qld         842
urged       790
nsw         743
wa          700

In [ ]:
subset2007_08 = news_copy.loc[(news_copy['financial_year'] == '2007-08')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2007_08.headline_text)
news_dtm_subset2007_08 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2007_08.index = subset2007_08.index

In [ ]:
#news_dtm_subset2007_08.sum().sort_values(ascending=False).head(15)

news_dtm_subset2007_08.sum().sort_values(ascending=False).head(15)
police     3308
govt       2440
man        2167
new        2045
court      1294
council    1272
says       1212
qld        1151
water      1075
death       933
charged     926
plan        907
crash       895
nsw         873
health      871

In [ ]:
subset2008_09 = news_copy.loc[(news_copy['financial_year'] == '2008-09')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2008_09.headline_text)
news_dtm_subset2008_09 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2008_09.index = subset2008_09.index

In [ ]:
#news_dtm_subset2008_09.sum().sort_values(ascending=False).head(15)

#news_dtm_subset2008_09.sum().sort_values(ascending=False).head(15)
police     3006
man        2363
govt       2220
new        1887
qld        1313
says       1225
court      1211
council    1059
crash       991
charged     928
water       925
death       884
plan        830
sa          780
killed      758

In [ ]:
subset2009_10 = news_copy.loc[(news_copy['financial_year'] == '2009-10')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2009_10.headline_text)
news_dtm_subset2009_10 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2009_10.index = subset2009_10.index

In [ ]:
#news_dtm_subset2009_10.sum().sort_values(ascending=False).head(15)

news_dtm_subset2009_10.sum().sort_values(ascending=False).head(15)
interview    3077
police       2376
man          2045
new          1647
court        1165
council      1124
water         916
accused       902
crash         901
death         835
health        808
says          798
charged       784
murder        780
plan          777

In [ ]:
subset2015_16 = news_copy.loc[(news_copy['financial_year'] == '2015-16')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2015_16.headline_text)
news_dtm_subset2015_16 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2015_16.index = subset2015_16.index

In [ ]:
#news_dtm_subset2015_16.sum().sort_values(ascending=False).head(15)

news_dtm_subset2015_16.sum().sort_values(ascending=False).head(15)
new           2372
man           2136
police        2043
says          1954
australia     1553
australian    1420
wa            1406
nsw           1243
government    1095
rural         1074
court         1047
sydney        1002
queensland     986
sa             936
world          929

In [ ]:
subset2016_17 = news_copy.loc[(news_copy['financial_year'] == '2016-17')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2016_17.headline_text)
news_dtm_subset2016_17 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2016_17.index = subset2016_17.index

In [ ]:
#news_dtm_subset2016_17.sum().sort_values(ascending=False).head(15)

news_dtm_subset2016_17.sum().sort_values(ascending=False).head(15)
says          1606
new           1486
police        1461
australia     1448
man           1360
trump         1330
wa            1184
australian    1122
nsw            931
election       903
government     867
sydney         865
court          800
day            774
queensland     770

In [ ]:
subset2017_18 = news_copy.loc[(news_copy['financial_year'] == '2017-18')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2017_18.headline_text)
news_dtm_subset2017_18 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2017_18.index = subset2017_18.index

In [ ]:
#news_dtm_subset2017_18.sum().sort_values(ascending=False).head(15)

news_dtm_subset2017_18.sum().sort_values(ascending=False).head(15)
says          1318
trump         1236
new           1208
australia     1167
police        1141
australian     995
man            916
donald         701
world          689
north          675
sydney         668
court          643
wa             602
government     598
nsw            597

In [ ]:
subset2019_20 = news_copy.loc[(news_copy['financial_year'] == '2019-20')]

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2019_20.headline_text)
news_dtm_subset2019_20 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2019_20.index = subset2019_20.index

In [ ]:
news_dtm_subset2019_20.sum().sort_values(ascending=False).head(15)

In [ ]:
news_copy['financial_year'].value_counts()

In [ ]:
import spacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

In [ ]:
len(subset2017_18.headline_text)

In [ ]:
tokens1 = nlp(''.join(str(subset2019_20.headline_text.tolist())))

In [ ]:
items = [x.text for x in tokens1.ents]
Counter(items).most_common(10)

### Extract people (real and fictional) using the PERSON type.

https://towardsdatascience.com/from-dataframe-to-named-entities-4cfaa7251fc0

In [ ]:
person_list = []
for ent in tokens1.ents:
    if ent.label_ == 'PERSON':
        person_list.append(ent.text)
        
person_counts = Counter(person_list).most_common(20)
df_person = pd.DataFrame(person_counts, columns =['text', 'count'])

In [ ]:
df_person.head(10)

In [ ]:
df_person.plot.barh(x='text', y='count', title="Person", figsize=(10,8)).invert_yaxis()

### NORP type recognizes nationalities, religious and political groups.

In [ ]:
norp_list = []
for ent in tokens1.ents:
    if ent.label_ == 'NORP':
        norp_list.append(ent.text)
        
norp_counts = Counter(norp_list).most_common(20)
df_norp = pd.DataFrame(norp_counts, columns =['text', 'count'])

In [ ]:
df_norp.head(10)

In [ ]:
df_norp.plot.barh(x='text', y='count', title="Nationalities, Religious, and Political Groups", figsize=(10,8)).invert_yaxis()

In [ ]:
#spacy NER - data too big, can't do here
tokens = nlp(''.join(str(subset2017_18.headline_text.tolist())))

In [ ]:

nlp = spacy.load("en_core_web_sm")
doc = nlp(news_dtm_subset2017_18['headline_text'])
for token in doc:
    print(token.text, token.pos_, token.dep_)

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
subset5

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset5.headline_text)
dtm_subset5 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
dtm_subset5.index = subset5.index
dtm_subset5

In [ ]:
dtm_subset5.sum().sort_values(ascending=False).head(10)
#max.sort_values(ascending=False).head(10)

In [ ]:
dtm_subset5.max().sort_values(ascending=False).head(10)

In [ ]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(subset2004_05.headline_text)
news_dtm_subset2004_05 = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
news_dtm_subset2004_05.index = subset2004_05.index
news_dtm_subset2004_05

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()

word_data = "It originated from the idea that there are readers who prefer learning new skills from the comforts of their drawing rooms"
# First Word tokenization
nltk_tokens = nltk.word_tokenize(word_data)
#Next find the roots of the word
for w in nltk_tokens:
       print "Actual: %s  Stem: %s"  % (w,porter_stemmer.stem(w))